body{
    margin: 0px;
    background-color: #Eaf2f2;
}
th{
   opacity: 0.7;
   color: black;
}
#wrapper{
    width: 75%;
    margin: 0px auto;
}
P{
    color: black;
}
#wrapper a:link, #wrapper a:visited{
    color: black;
    text-decoration: none;
}
#wrapper a:hover{
    text-decoration: underline;
}
.im{
    display: flex;
    background: aquamarine;
    border: 2px solid pink;
    border-radius: 100px;
    padding: 20px;
}
.menu{
    background: aquamarine;
}